*{ background-color:  #FBEAEB
  }
#logo
 { text-align: center;
   text-shadow: rgb(22, 22, 22) 1px 0 10px; 
 }
 #outlook{
text-align: center;
text-shadow: rgb(22, 22, 22) 1px 0 10px; 
 }
#agc{
  color:red;
  text-align: center;
}
#htm{
  text-align: center;
}
h2{
  text-align: center;
}
h5{
  color:red;
  text-align: center;
}
#java{
  text-align: center;
}
#navbar{
  position: fixed;
  top:0;
  text-align: center;
  width: 100vw;
  background-color: #2F3C7E;
}
